// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
            layout "us,th" // American,Thai keyboard layout (I'm from Thailand, just remove `th`)
            options "grp:win_space_toggle"
        }
        numlock // Enable numlock on startup
    }
    
    mouse {
        accel-speed -0.04 // Adjust this value between -1.0 (very slow) and 1.0 (very fast)
        accel-profile "flat" // Optional: disables acceleration for consistent speed
    }

    touchpad {
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
    }

    focus-follows-mouse // Automatically focus windows under the mouse pointer
    workspace-auto-back-and-forth // Enable workspace back & forth switching
}
