// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
            layout "us,th"
            options "grp:win_space_toggle"
        }
        numlock
    }
    
    mouse {
        accel-speed 0.6
        accel-profile "flat"
    }

    trackball {
        accel-speed -0.3
        accel-profile "flat"
    }

    touchpad {
        tap
        natural-scroll
    }

    workspace-auto-back-and-forth
}
