    layout {
        gaps 16 // Gap between windows
        
        focus-ring {
            width 2 // Set thickness for active window focus ring (default is 4)
            active-color "#61afef80" // Atom Blue (50% Opacity)
            inactive-color "#3e445180" // Atom Dark Grey for unfocused windows (50% Opacity)
        }

        center-focused-column "never" // Don’t auto-center focused column

        background-color "transparent" // <- needed for noctalia-shell to set wallpaper


        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }

        struts {}
    }
