    layout {
        gaps 16 // Gap between windows
        center-focused-column "never" // Don’t auto-center focused column

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }
        
        shadow {
          on
          softness 16
          spread 6
          color "000000a6"
        }

        focus-ring {
          width 0
        }
        
        border {
          width 0
        }

        struts {}
    }

blur {
  passes 1
  offset 1.5
}
