    window-rule {
        geometry-corner-radius 20 // Set every window radius to 20
        clip-to-geometry true
    }
    layer-rule {
        match namespace="waybar"

        background-effect {
          blur true
          xray false
        }

    }
    window-rule {
      match app-id="foot"
      
      background-effect {
        blur true
        xray false
      }
    }
